@font-face {
  font-family: 'futura';
  font-style: normal;
  src: url('fonts/FuturaLT.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html, body, a {
  font-family: 'futura';
  font-size: 16px;
  margin: 0;
}

.minimal-button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}