@import "_config";
.wrap {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cursor {
  position: fixed;
  width: 400px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity .2s ease;
}

a {
  cursor: none;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 33px;
  line-height: 3rem;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section__cursor {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.section__logo {
  width: 13rem;
  min-height: 4rem;

  &--big { width: 25rem; }
  &--small { width: 10rem; }
  
  img{ width: 100%; }
}

.section__text {
  position: relative;
  width: 95%;
  text-align: center;

  span {
    letter-spacing: 1.5px;
  }  
  span:first-child {
    position: absolute;
    left: 0;
    top: -8rem;
  }
  .small-spacing {
    letter-spacing: .9px;  
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  opacity: 0;
  transform: scale(0);
  transition: opacity .2s ease;
  z-index: 10;

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);  
    cursor: pointer;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 90%;
    max-width: 1050px;
    height: auto;
    background-color: #fff;
    transform: translate(-50%, -50%);

    &--transparent {
      background-color: transparent;
    }
    .slider-container {
      width: 100%; 
  
      .show-slide-closed, .show-slide-mercedes {
        display: none;
        width: 100%;
      
        img { 
          display: block;
          width: 100%; 
        }
      }
      .next, .prev {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
      }
     
      .prev {
        left: 0;
        cursor: url("/src/images/icons/icon-left.png"), auto;
      }
      .next {
        right: 0;
        cursor: url("/src/images/icons/icon-right.png"), auto;
      }
    }
  }    
}

.modal:target {
  transform: scale(1);
  opacity: 1;
}

#contact-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;

  a {
    text-decoration: none;
    font-size: 33px;
    color: #000;
    cursor: pointer;
  }
}

#section-audi {
  background-image: url("../images/lemonade_pics/audi.png");
}

#section-closed {
  background-image: url("../images/lemonade_pics/closed.jpg");
}

#section-autor, #section-clients {
  background-color: $color-yellow;
}

#section-porsche {
  background-image: url("../images/lemonade_pics/porsche.jpg");
}

#section-stories {
  background-image: url("../images/lemonade_pics/other-stories.jpg");
}

#section-bridgestone {
  background-image: url("../images/lemonade_pics/bridgestone.png");
}

#section-pilsner {
  background-image: url("../images/lemonade_pics/pilsner.jpg");
}

#section-google {
  background-image: url("../images/lemonade_pics/google.jpg");
}

#section-mercedes {
  background-image: url("../images/lemonade_pics/mercedes.jpg");
}

footer {
  width: 100%;
  height: 5rem;
  background-color: #000;
  line-height: 5rem;
  padding-left: 3%;
  cursor: auto;

  a {
    text-decoration: none;
    font-size: 18px;
    color: $color-yellow;
    cursor: pointer;
  }
}
#impressum {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  cursor: auto;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.25s ease;

  .lemonade-link {
    position: absolute;
    display: block;
    top: 1rem;
    left: 3%;
    line-height: 2rem;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    cursor: pointer;
  } 

  .impressum-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 5rem);
    font-size: 25px;
    letter-spacing: .2rem;
    text-align: center;
    line-height: 2.5rem;
    background-color: $color-yellow;
    
    a {
      color: #000;
      text-decoration: none;
      font-size: 25px;
      &:hover, &:active {
        color: #161558;
      }
    }
  }
  .impressum-footer {
    width: 100%;
    height: 5rem;
    background-color: #000;
    line-height: 5rem;
    padding-left: 3%;

    a {
      text-decoration: none;
      font-size: 18px;
      color: $color-yellow;
      cursor: pointer;
    }
  }
}
#impressum:target {
  transform: translateY(0);
  opacity: 1;
}


@media screen and (max-width: 1200px) {
  .section {
    font-size: 27px;
    line-height: 2.6rem;
  }
  .section__text {
    span {
      letter-spacing: 1.2px;
    }
    .small-spacing {
      letter-spacing: .7px;  
    }
  }
}


@media screen and (max-width: 992px) {
  #cursor {
    display: none;
  }

  a {
    cursor: pointer;
  }
  .section {
    font-size: 20px;
    line-height: 2.2rem;
  }
  .section__text {
    span {
      letter-spacing: .9px;
    }
    .small-spacing {
      letter-spacing: .5px;  
    }
  }
  .modal {
    .modal-content{
      .slider-container{
        .prev {
          cursor: auto;
        }
        .next {
          cursor: auto;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .section {
    font-size: 16px;
    line-height: 1.8rem;
  }
  .section__text {
    span {
      letter-spacing: .7px;
    }
    span:first-child {
      position: absolute;
      left: 0;
      top: -5rem;
    }
    .small-spacing {
      letter-spacing: .4px;  
    }
  }
  .section__logo--big { width: 18rem; }

  #contact-btn {
    bottom: 1rem;
    right: 1rem;
    a {font-size: 20px;}
  }

  footer {
    height: 3rem;
    line-height: 3rem;

    a {
      font-size: 1rem;
    }
  }
  #impressum {
    .lemonade-link{
      top: .5rem;
      font-size: 1rem;
    }
    .impressum-content {
      height: calc(100vh - 3rem);
      font-size: 1rem;

      a {
        font-size: 1rem;
      }
    }
    .impressum-footer {
      height: 3rem;
      line-height: 3rem;
  
      a {
        font-size: 1rem;
      }
    }
  }
}

