@import "_config";

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 33px;
  line-height: 3rem;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.section__logo {
  width: 13rem;
  min-height: 4rem;

  &--big { width: 25rem; }
  &--small { width: 10rem; }
  
  img{ width: 100%; }
}

.section__text {
    position: relative;
    width: 95%;
    text-align: center;

  span {
    letter-spacing: 1.5px;
  }  

  span:first-child {
    position: absolute;
    left: 0;
    top: -8rem;
  }
  .small-spacing {
    letter-spacing: 0.9px;  
  }
}

#section-first {
  background-image: url("../images/lemonade_pics/audi.png");
}

#section-second {
  background-image: url("../images/lemonade_pics/closed.jpg");
}

#section-third {
  background-color: $color-yellow;
}

#section-fourth {
  background-image: url("../images/lemonade_pics/porsche.jpg");
}

#section-fifth {
  background-image: url("../images/lemonade_pics/other-stories.jpg");
}

#section-sixth {
  background-image: url("../images/lemonade_pics/bridgestone.png");
}

#section-seventh {
  background-color: $color-yellow;
}

#section-eighth {
  background-image: url("../images/lemonade_pics/pilsner.jpg");
}

#section-ninth {
  background-image: url("../images/lemonade_pics/google.jpg");
}

#section-tenth {
  background-image: url("../images/lemonade_pics/mercedes.jpg");
}

@media screen and (max-width: 1200px) {
  .section {
    font-size: 27px;
    line-height: 2.6rem;
  }
  .section__text {
    span {
      letter-spacing: 1.2px;
    }
    .small-spacing {
      letter-spacing: 0.7px;  
    }
  }
}
@media screen and (max-width: 992px) {
  .section {
    font-size: 20px;
    line-height: 2.2rem;
  }
  .section__text {
    span {
      letter-spacing: 0.9px;
    }
    .small-spacing {
      letter-spacing: 0.5px;  
    }
  }
}
@media screen and (max-width: 768px) {
  .section {
    font-size: 16px;
    line-height: 1.8rem;
  }
  .section__text {
    span {
      letter-spacing: 0.7px;
    }
    .small-spacing {
      letter-spacing: 0.4px;  
    }
  }
}